<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Account Error</h5>
        </div>
        <div class="modal-body">
            <div class="container">
                <p>You must be logged in to save a machine</p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-dark"><a href="#" class="small dark account login_button">Login</a></button>
            <button class="btn btn-outline-dark"><a href='#' class="small dark account register_button">Create an account</a></button>
        </div>
    </div>
</div>

