<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    {% load static %}
    {% block style %} {% endblock %}
    {% block script %}{% endblock %}

    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">

</head>

<body>

<script>
    $(document).on('click', '.dashboard-button', function () {
    $.ajax({
        type: 'GET',
        url: 'dashboard',
        success: function (output) {
        $('#modalcontainer').html(output).modal('show');//now its working
        },
        error: function(output){
        alert("fail");
        }
    });
});
</script>


<style>
     .hugright {
         position: absolute;
         right: 2%;
        float: right;
    }
    .btn {
        margin-left: 10px;
    }
    .dropdown-menu li {
        position: relative;
    }

    .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .dropdown-menu {
        right: 100%;
        left: auto;
        z-index: 10;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
        display: block;
    }
</style>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <span class="fw-light dashboard-button"
              style="font-family: Alatsi, sans-serif;color: var(--bs-light);padding-right: 10px;">FSM</span>
        </a>

        <div class="collapse navbar-collapse" id="navcol-2">

            <div class="d-flex">
            <input type="text" class="form-control" placeholder="Untitled Machine" aria-label="Untitled Machine">
            <button class="btn btn-outline-warning save_button">Save</button>

            <div class="dropdown">
                <button class="btn btn-outline-warning dropdown-toggle" id="exportDropdown" type="button"
                               data-bs-toggle="dropdown" aria-expanded="false">Export</button>
                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="exportDropdown">
                    <li><hr class="dropdown-divider"></li>

                    <!-- Image Dropdown --->
                    <li>
                    <a class="dropdown-item" href="#">
                        Image &raquo;
                      </a>
                      <ul class="dropdown-menu dropdown-submenu">
                        <li>
                          <a class="dropdown-item save_button" href="#">PNG</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">JPEG</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">SVG</a>
                        </li>
                      </ul>
                    </li>

                    <!-- State Table Dropdown --->

                    <li>
                    <a class="dropdown-item" href="#">
                        State Table &raquo;
                      </a>
                      <ul class="dropdown-menu dropdown-submenu">
                        <li>
                          <a class="dropdown-item" href="#">HTML</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">CSV</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                    <a class="dropdown-item" href="#">
                        Graph &raquo;
                      </a>
                      <ul class="dropdown-menu dropdown-submenu">
                        <li>
                          <a class="dropdown-item graphvis" href="#">GraphVis</a>
                        </li>
                        <li>
                          <a class="dropdown-item graphml" href="#">GraphML</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item save_button" href="#">Verilog HDL</a></li>
                    </ul>
            </div>

            <button class="btn btn-outline-warning dashboard-button">Import</button>

            <div class="hugright">
                <ul class="navbar-nav">
                    <!-- If the user is logged in, show the account dropdown --->
                    <li class="nav-item"><button class="btn btn-outline-warning save_button">Help</button></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <button class="btn btn-outline-warning dropdown-toggle" id="accountDropdown" type="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.username }}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="accountDropdown">
                                <li><em style="margin-left: 1%">{{ user.email }}</em></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item account_button" href="#">Account Settings</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <button class="btn btn-outline-warning login_button">Sign In</button>
                        </li>
                    {% endif %}
                </ul>
            </div>
            </div>
        </div>
    </div>
</nav>


<script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}"></script>


<script src="{% static 'modals.js' %}"></script>

<div id="modalcontainer" class="modal fade" role="dialog">

</div>

{% block content %}{% endblock %}
</body>

</html>