{% extends 'base.html' %}
{% load static %}


{% block title %} Canvas {% endblock %}
{% block script %}
<script src="{% static 'konva/konva.min.js' %}"></script> {% endblock %}
{% block style %}
<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f0f0f0;
    }
</style>
{% endblock %}

{% block content %}
<style>
    .toolbar-container {
        -webkit-box-pack: center;
        bottom: 15px;
        justify-content: center;
        display: flex;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: fit-content;
    }

    .toolbar {
        -webkit-box-pack: center;
        -webkit-box-align: center;
        background: floralwhite;
        align-items: center;
        border-radius: 32px;
        display: flex;
        font-family: Open sans, sans-serif;
        font-size: 12px;
        height: 40px;
        justify-content: center;
        padding: 0 5px;
        width: auto;
    }

    .toolbar .button-group {
        -webkit-box-align: center;
        align-items: center;
        -webkit-column-gap: 5px;
        column-gap: 5px;
        display: flex;
        height: 20px;
        padding: 0 5px;
    }

    .toolbar .button-group:not(:last-child) {
        border-right: 1px solid #000000;
        margin-left: 5px;
    }

    .toolbar .btn-outline-warning {
        margin-left: 0px;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-right: 5px;
        padding-left: 7px;
        --bs-btn-border-color: #0000;
    }

</style>
<div id="container"></div>

<!-- Bottom Toolbar --->
<div class="toolbar-container">
    <div class="toolbar">
        <div class="button-group">
            <button class="btn btn-outline-warning zoom-out">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none"
                     class="icon">
                    <path xmlns="http://www.w3.org/2000/svg"
                          d="M2 12C2 11.4477 2.44772 11 3 11H21C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H3C2.44772 13 2 12.5523 2 12Z"
                          fill="black"/>
                </svg>
            </button>
            <span class="zoom-value" id="zoom-value">100%</span>
            <button class="btn btn-outline-warning zoom-in">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                     fill="none" class="icon">
                    <path xmlns="http://www.w3.org/2000/svg" d="M4 12H20M12 4V20" stroke="#000000" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
        <div class="button-group">
            <button class="btn btn-outline-warning new-node">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                     fill="none" class="icon">
                    <path xmlns="http://www.w3.org/2000/svg"
                          d="M8 12H16M12 8V16M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                          stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
            <button class="btn btn-outline-warning new-transition">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                     fill="none" class="icon">

                    <path xmlns="http://www.w3.org/2000/svg"
                          d="M13 3H12C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21H13M17 8L21 12M21 12L17 16M21 12H9"
                          stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>

                </svg>
            </button>
            <button class="btn btn-outline-warning select-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                     fill="none" class="icon">

                    <path xmlns="http://www.w3.org/2000/svg"
                          d="M6.91304 19.4348L3 3L19.4348 6.91304L14.7391 10.0435L21 16.3043L16.3043 21L10.0435 14.7391L6.91304 19.4348Z"
                          stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>


                </svg>
            </button>
            <button class="btn btn-outline-warning move-button">
                <svg height="26" viewBox="0 0 26 26" width="26" xmlns="http://www.w3.org/2000/svg"
                     class="icon">

                    <path xmlns="http://www.w3.org/2000/svg"
                          d="M12 3V9M12 3L9 6M12 3L15 6M12 15V21M12 21L15 18M12 21L9 18M3 12H9M3 12L6 15M3 12L6 9M15 12H21M21 12L18 9M21 12L18 15"
                          stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>

                </svg>
            </button>
        </div>
    </div>
</div>
<script>
    //TODO: Creating a new node doesn't go in the right place when moving or scaling the stage
    var width = window.innerWidth;
    var height = window.innerHeight;

    // stage here
    var stage = new Konva.Stage({container: 'container', width: width, height: height, draggable: false});

    // layer
    var layer = new Konva.Layer();

    var nodeGroup = new Konva.Group();
    var transitionGroup = new Konva.Group();
    var anchorGroup = new Konva.Group();
    var transitionDict = {};


    layer.add(transitionGroup, anchorGroup, nodeGroup);
    stage.add(layer);

    var transitionId = 2;
    var nodeId = 2;
    var anchorId = 0;
    var shiftToggle = false;
    var created = false;
    var initialX = 0;
    var initialY = 0;
    var endnode = null;
    var inside;
    var straigtening, selecting;
    var transitionTool = false;
    var nodeTool = false;

    var node = new Konva.Circle({
        x: 0,
        y: 0,
        radius: 30,
        fill: 'white',
        stroke: 'black',
        strokeWidth: 3,
        name: "nodes",
        draggable: true,
    });

    var anchor = node.clone({
        radius: 7,
        stroke: 'blue',
        strokeWidth: 3,
        hitStrokeWidth: 20,
        visible: false,
    });

    var transition = new Konva.Arrow({
        points: [0, 0, 0, 0],
        pointerLength: 20,
        pointerWidth: 20,
        fill: 'black',
        stroke: 'black',
        strokeWidth: 5,
        lineJoin: 'round',
        tension: .45,
        hitStrokeWidth: 30,
    });

    function makeTransitionVisible(transitionId) {
        // Make all the transition anchors invisible
        selecting = true;
        for (const [key, value] of Object.entries(transitionDict)) {
            value.setVisibility(false);
        }

        // Make the selected anchor visible
        console.log(transitionId);
        transitionDict[transitionId].setVisibility(true);
    }

    class Transition {

        constructor(startNode) {
            this.startNode = startNode;
            this.anchor = anchor.clone();
            this.endNode = node.clone();
            this.transition = transition.clone();
            this.straightTransition = true;
            this.id = 0;
        }

        addTransition(t) {
            this.transition = t;
            this.id = this.transition.id;
            transitionGroup.add(this.transition)
            this.transition.addEventListener('click', function () {
                makeTransitionVisible(this.id());
            })

            this.transition.addEventListener('dblclick', () => {
                this.setStraight(true);
                this.setVisibility(false);
                this.update();
                straigtening = true;
            });
        }

        update() {

            if (this.straightTransition) {

                this.anchor.position({
                    x: (this.startNode.position().x + this.endNode.position().x) / 2,
                    y: (this.startNode.position().y + this.endNode.position().y) / 2,
                });

                let [endX, endY] = stayOnOutside(this.anchor.position().x, this.anchor.position().y,
                    this.endNode.position().x, this.endNode.position().y,
                    this.endNode.radius())

                this.transition.points([this.startNode.position().x, this.startNode.position().y,
                    this.anchor.position().x, this.anchor.position().y,
                    endX, endY]);

            } else {
                let [endX, endY] = stayOnOutside(this.anchor.position().x, this.anchor.position().y,
                    this.endNode.position().x, this.endNode.position().y,
                    this.endNode.radius())
                this.transition.points([this.startNode.position().x, this.startNode.position().y,
                    this.anchor.position().x, this.anchor.position().y,
                    endX, endY]);
            }
        }


        addEndNode(endNode, optional = null) {
            this.endNode = endNode;


            if (optional == null) {
                this.anchor = anchor.clone({
                    x: (this.startNode.position().x + this.endNode.position().x) / 2,
                    y: (this.startNode.position().y + this.endNode.position().y) / 2,
                    id: `anchor${++anchorId}`,
                });
            } else {
                this.anchor = optional;
            }

            this.anchor.addEventListener('dblclick', () => {
                this.setStraight(true);
                this.setVisibility(false);
                this.update();
                straigtening = true;
            });
            this.anchor.on('dragmove', (e) => {
                this.setStraight(false);
                updateLines()
            });
            anchorGroup.add(this.anchor);


        }

        setVisibility(bool) {
            this.anchor.visible(bool);
            if (bool && (!selecting)) {
                this.setStraight(false);
            }
        }

        setStraight(bool) {
            this.straightTransition = bool;
        }

    }


    function updateLines() {

        for (const [key, value] of Object.entries(transitionDict)) {
            value.update()
        }
        layer.draw();

    }


    function beginningFrame() {
        let node1 = node.clone({
            x: width / 4,
            y: height / 2 + 50,
            id: 'node1'
        })
        let node2 = node.clone({
            x: width / 1.3,
            y: height / 2 - 50,
            id: 'node2',
        });

        nodeGroup.add(node1, node2);
        addNodeListeners(node1);
        addNodeListeners(node2);

        let t1 = transition.clone({id: `transition1`});
        let t2 = transition.clone({id: `transition2`});

        let transition1 = new Transition(node1);
        let transition2 = new Transition(node2);

        let a1 = anchor.clone({
            x: (node1.position().x + node2.position().x) / 2,
            y: (node1.position().y + node2.position().y) / 2 - 100,
            id: `anchor${++anchorId}`
        })

        let a2 = anchor.clone({
            x: (node1.position().x + node2.position().x) / 2,
            y: (node1.position().y + node2.position().y) / 2 + 100,
        })

        transition1.addTransition(t1);
        transition2.addTransition(t2);

        transition1.addEndNode(node2, a1);
        transition2.addEndNode(node1, a2);

        transition1.setStraight(true);
        transition2.setStraight(false);

        console.log(transition1.anchor.position());


        transition1.update();
        transition2.update();


        transitionDict[`transition1`] = transition1;
        transitionDict['transition2'] = transition2;
    }


    stage.on('dblclick', function () {
        if (!straigtening) {
            clone = node.clone({
                'x': stage.getRelativePointerPosition().x,
                'y': stage.getRelativePointerPosition().y,
                'id': `node${++nodeId}`
            })
            nodeGroup.add(clone);
            addNodeListeners(clone);
            layer.add(nodeGroup);
        }
        straigtening = false;
    });

    stage.on('click', function () {
        if (nodeTool && !straigtening && !selecting) {
            clone = node.clone({
                'x': stage.getRelativePointerPosition().x,
                'y': stage.getRelativePointerPosition().y,
                'id': `node${++nodeId}`
            })
            nodeGroup.add(clone);
            addNodeListeners(clone);
            layer.add(nodeGroup);
        }
        straigtening = false;
        selecting = false;
    })

    function distance(x1, y1, x2, y2) {
        let xdif = Math.pow((x2 - x1), 2);
        let ydif = Math.pow((y2 - y1), 2);
        return Math.sqrt(xdif + ydif);

    }

    function stayOnOutside(startX, startY, endX, endY, r) {
        let angle = Math.atan2((endY - startY), (endX - startX));
        let ydif = Math.sin(angle) * r;
        let xdif = Math.cos(angle) * r;

        return [(endX - xdif), (endY - ydif)];
    }

    function createTransition(startNode) {

        if (!created) {
            var t = new Transition(startNode);

            var newArrow = transition.clone({
                points: [startNode.position().x, startNode.position().y, stage.getRelativePointerPosition().x, stage.getRelativePointerPosition().y],
                id: "transition" + ++transitionId,
            })

            t.addTransition(newArrow);
            transitionDict[newArrow.id()] = t;

            created = true;

        } else {

            let current_draw = transitionDict[`transition${transitionId}`]
            var endPointX = stage.getRelativePointerPosition().x;
            var endPointY = stage.getRelativePointerPosition().y;

            inside = false;
            for (let node of nodeGroup.children) {
                if (distance(endPointX, endPointY, node.position().x, node.position().y) < node.radius()) {
                    [endPointX, endPointY] = stayOnOutside(startNode.position().x, startNode.position().y,
                        node.position().x, node.position().y, node.radius())
                    endnode = node;
                    inside = true;
                }
            }

            current_draw.transition.points([startNode.position().x, startNode.position().y, endPointX, endPointY])
            layer.add(transitionGroup);
            layer.draw();
        }
    }


    // When shift is pressed, don't move the nodes, otherwise move
    for (let node of nodeGroup.children) {
        addNodeListeners(node)
    }

    function addNodeListeners(node) {
        node.addEventListener('dragstart', function (evt) {
            initialX = node.position().x;
            initialY = node.position().y;
        });

        node.addEventListener('dragmove', (evt) => {
            if ((evt.shiftKey) || (shiftToggle) || (transitionTool)) {
                shiftToggle = true;
                node.setPosition({'x': initialX, 'y': initialY});
                createTransition(node);
            } else {
                // Actions when the node is moving
                updateLines();
            }
        });

        node.addEventListener('dragend', function (evt) {
                if (shiftToggle) {
                    // When the arrow is connected to a node
                    if (inside) {
                        transitionDict[`transition${transitionId}`].addEndNode(endnode)
                    } else {
                        transitionGroup.findOne(`#transition${transitionId}`).destroy();
                    }
                }
                shiftToggle = false;
                created = false;
            }
        )
        ;
    }

    /*
        ----------- Tool Selection -----------
     */

    $(document).on('click', '.zoom-out', function () {
        select("zoomOut");
    });
    $(document).on('click', '.zoom-in', function () {
        select("zoomIn");
    });
    $(document).on('click', '.select-button', function () {
        select("select");
    });
    $(document).on('click', '.move-button', function () {
        select("move");
    });
    $(document).on('click', '.new-transition', function () {
        transitionTool = true;
    });
    $(document).on('click', '.new-node', function () {
        nodeTool = true;
    });

    function select(tool) {
        for (const [key, value] of Object.entries(transitionDict)) {
            value.setVisibility(false);
        }
        var oldScale = stage.scaleX();
        var scaleBy = 1.05;
        stage.container().style.cursor = 'default';
        stage.draggable(false);
        transitionTool = false;
        nodeTool = false;
        selecting = false;

        switch (tool) {
            case "zoomIn":
                var newScale = oldScale * scaleBy;
                var moveTo = {
                    x: (width / 2 - stage.x()) / oldScale,
                    y: (height / 2 - stage.y()) / oldScale,
                };

                stage.scale({'x': oldScale * scaleBy, 'y': oldScale * scaleBy});

                var newPos = {
                    x: width / 2 - moveTo.x * newScale,
                    y: height / 2 - moveTo.y * newScale,
                };
                stage.position(newPos);
                document.getElementById("zoom-value").textContent = (Number(newScale * 100).toFixed(0)) + '%';
                break;

            case "zoomOut":
                var newScale = oldScale / scaleBy;
                var moveTo = {
                    x: (width / 2 - stage.x()) / oldScale,
                    y: (height / 2 - stage.y()) / oldScale,
                };

                stage.scale({'x': oldScale / scaleBy, 'y': oldScale / scaleBy});

                var newPos = {
                    x: width / 2 - moveTo.x * newScale,
                    y: height / 2 - moveTo.y * newScale,
                };
                stage.position(newPos);
                document.getElementById("zoom-value").textContent = (Number(newScale * 100).toFixed(0)) + '%';
                break;

            case "select":
                selecting = true;
                for (const [key, value] of Object.entries(transitionDict)) {
                    value.setVisibility(true);
                }
                break;
            case "move":
                stage.container().style.cursor = 'move';
                stage.draggable(true);
                break;

        }
    }

    beginningFrame();


</script>
{% endblock %}
