<style>
    .help-container {
        border: 2px solid #ffc107;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: rgb(252,252,252);
    }

    .help-container .title {
        text-align: center;
        margin-bottom: 10px;
    }
</style>


<div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Help</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="overflow: auto">
            <div class="container">
                <div class="container help-container">
                    <div class="title">
                        <h3>What is a Finite State Machine</h3>
                    </div>
                    <div style="text-align: center">
                        A finite state machine is a mathematical model of computation that describes the
                        behaviour of a system using states, transitions, and actions.
                    </div>
                    <ul>
                        <li>
                            States are drawn as <b>circles</b>, with text inside for their name
                        </li>
                        <li>
                            Transitions are drawn as <b>arrows</b>
                        </li>
                        <Li>
                            Actions are indicated as the labels on top of the transitions
                        </Li>
                    </ul>
                </div>

                <div class="container help-container">
                    <div class="title">
                        <h3>What are Discrete Finite Automata?</h3>
                    </div>
                    <div style="text-align: center">
                        A discrete finite automata (DFA), used as the <b>Default Machine</b> on this site, is a
                        type of finite state machine that processes a given input and accepts or rejects the
                        input based on the given states and transition [8]. DFA are particularly useful
                        in pattern recognition systems, examples include language recognition, compiler design,
                        and cybersecurity.

                        They have a binary output, <b>True</b> or <b>False</b>, and accepting states are
                        indicated
                        as a double circle
                    </div>
                </div>
                <div class="container help-container">
                    <div class="title">
                        <h3>What is a Mealy Machine</h3>
                    </div>
                    <div style="text-align: center">
                        A discrete finite automata (DFA), used as the <b>Default Machine</b> on this site, is a
                        type of finite state machine that processes a given input and accepts or rejects the
                        input based on the given states and transition [8]. DFA are particularly useful
                        in pattern recognition systems, examples include language recognition, compiler design,
                        and cybersecurity.

                        They have a binary output, <b>True</b> or <b>False</b>, and accepting states are
                        indicated
                        as a double circle
                    </div>
                </div>
                <div class="container help-container">
                    <div class="title">
                        <h3>What is a Moore Machine</h3>
                    </div>
                    <div style="text-align: center">
                        A discrete finite automata (DFA), used as the <b>Default Machine</b> on this site, is a
                        type of finite state machine that processes a given input and accepts or rejects the
                        input based on the given states and transition [8]. DFA are particularly useful
                        in pattern recognition systems, examples include language recognition, compiler design,
                        and cybersecurity.

                        They have a binary output, <b>True</b> or <b>False</b>, and accepting states are
                        indicated
                        as a double circle
                    </div>
                </div>
                <div class="container help-container">
                    <div class="title">
                        <h3>How do I draw a machine?</h3>
                    </div>
                    <div style="text-align: center">
                        A discrete finite automata (DFA), used as the <b>Default Machine</b> on this site, is a
                        type of finite state machine that processes a given input and accepts or rejects the
                        input based on the given states and transition [8]. DFA are particularly useful
                        in pattern recognition systems, examples include language recognition, compiler design,
                        and cybersecurity.

                        They have a binary output, <b>True</b> or <b>False</b>, and accepting states are
                        indicated
                        as a double circle
                    </div>
                </div>
                <div class="container help-container">
                    <div class="title">
                        <h3>How do I simulate a machine?</h3>
                    </div>
                    <div style="text-align: center">
                        A discrete finite automata (DFA), used as the <b>Default Machine</b> on this site, is a
                        type of finite state machine that processes a given input and accepts or rejects the
                        input based on the given states and transition [8]. DFA are particularly useful
                        in pattern recognition systems, examples include language recognition, compiler design,
                        and cybersecurity.

                        They have a binary output, <b>True</b> or <b>False</b>, and accepting states are
                        indicated
                        as a double circle
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
